rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Allow users to read, write and delete their own avatar images
    match /users/{userId}/avatars/{allPaths=**} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }

    // Allow users to read, write and delete photos related to a specific tree they own
    match /users/{userId}/trees/{treeId}/photos/{allPaths=**} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }

    // Allow users to read, write and delete exported files for a specific tree they own
    match /users/{userId}/trees/{treeId}/exports/{allPaths=**} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
